data/**
helpers/tweetokenize/__pycache__/*
helpters/fastText/**
helpers/tweetokenize/__pycache__/**
twitter_authentication.py
helpers/models/**
/edenv/**
helpers/__pycache__/**
.ipynb_checkpoints/**
/processed-data/**
helpers/bot_auth.py
helpers/fastText/**
helpers/cluster-analysis/__pycache__/**
helpers/cluster-analysis/bin/**
helpers/cluster-analysis/code/**
.DS_Store
